@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-size: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 5px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active{
    background: #fff;
    color: #2b0abe;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .bag_img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile
{
    /* position: fixed; */
    display: flex;
    height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 600px 0;
}
.name_profile
{
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
}
.name_profile h2
{
    font-size: 52px;
    color: azure;
}
.name_profile h3
{
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    margin: 20px 0 10px;
}
.name_profile p
{
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    margin: 30px 0;
    font-size: 20px;
}
.name_profile::after
{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#0c54ee, #fff);
    position: absolute;
    left: -40px;
    top: 8px;
}
.name_profile ul
{
    position: relative;
    display: flex;
    gap: 80px;
}
.name_profile ul li
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    box-shadow: 0 15px 35px rgba(100, 63, 236, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4F4C96;
    cursor: pointer;
}
.name_profile ul li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 4px solid var(--clr);
    transition: 0.5s ease-in-out;
    font-family: fontAwesome;
    text-align: center;
    line-height: 80px;
    font-size: 4em;
    color: var(--clr);
    overflow: hidden;
}
.name_profile ul li:hover::before
{
    height: 100%;
}
.name_profile ul li:nth-child(1):before
{
    content: '\f16d';
}
.name_profile ul li:nth-child(2):before
{
    content: '\f232';
}
.name_profile ul li:nth-child(3):before
{
    content: '\f09a';
}
.name_profile ul li:nth-child(4):before
{
    content: '\f099';
}
.name_profile ul li .fa
{
    font-size: 4em;
    -webkit-text-stroke: 1px var(--clr);
    color: transparent;
}
.img_profile
{
    z-index: 10000;
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.img_profile .img_me2
{
    width: 50%;
    box-shadow: 60px -16px teal;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top,#1a1055,transparent);
    z-index: 100;
}
.sec
{
    position: relative;
    padding: 150px;
    background: #1a1055;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1em;
    color: #fff;
}





@media only screen and (max-width: 768px) 
{
    .profile
    {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .img_profile
    {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .iimg_profile .img_me2
    {
        width: 47%;
    }
}





/* section img#me2
{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 150px;
    height: 160px;
}
section ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
section ul li{
    list-style: none;
    margin-left: 20px;
}
#name
{
    position: absolute;
} */
